
*,
html {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#inicio {
  background: url(imagenes/b3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  animation: shrink 10s infinite alternate;
}

@keyframes shrink {
  0% {
    background-size: 150% 150%;
  }

  100% {
    background-size: 100% 100%;
  }
}


.uk-navbar-nav>li #inicio {
  background-color: #f8b500;
}

.textcolornav {
  color: #f8f8f8;
}

.titulo {
  padding-left: 50px;
  position: relative;
}

.titulo>h1 {
  color: #fafafa;
  font-weight: bolder;
  font-size: 10em;
  letter-spacing: 4px;
  position: relative;
  text-transform: capitalize;
  font-family: 'Noto Sans', sans-serif;
}

.titulo>span {
  text-shadow: 1px 1px #272727;
  color: #fafafa;
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
  letter-spacing: 4px;
  position: relative;
  text-transform: capitalize;
  padding-left: 10px;
}

.infotitulo {
  width: 500px;
  color: #fafafa86;
  padding-left: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.titulo>button {
  background-color: #f8b500;
  margin: 100px;
  font-size: 15px;
  padding: 5px 15px;
  font-weight: bold;
}

.titulo button:hover {
  background-color: #e3b04b;
}

.titulo>.hq {
  color: #f8b500;
}

@media screen and (min-width: 320px) and (max-width: 840px) {
  .titulo>h1 {
    font-size: 6em;
  }

  .titulo>span {
    font-size: 1em;

  }
}

@media screen and (min-width: 320px) and (max-width: 840px) {
  .nav-logo {
    font-size: 1em;
  }

  .navbar>li {
    font-size: 1em;

  }
}

.aboutustittle {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: #424949;
}

.primerparrafo {
  font-size: 15px;
  color: #424949;
  font-family: 'Raleway', sans-serif;
}

.cards {
  padding-top: 0%;
  margin-top: 0%;
  width: 100%;
  padding-bottom: 5vh;
}


.cards>.uk-card {
  background-color: none;
  border: 1px solid #505050;
}

.padding {
  padding: 0 15%;
}

.filtro>.uk-subnav-pill>.uk-active>a {
  background-color: white;
  color: #f8b500;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}
.filtro> .uk-subnav-pill > * > :first-child{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}
.filtrocard>.uk-card-default {
  background-color: #303030;
  color: #f8f8f8;
}
.scroll {
  width: 100% ;
  height: 100%;
  overflow-x: hidden;
  float: left;
  position: absolute;
}
.scroll1::-webkit-scrollbar {
  width: 10px;
}

.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
  background: #666;
}
/*-----------servicios-----------------*/


.services {
  background: none;
  text-align: center;
}

.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.service {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 60px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}

.service:hover {
  /*background: #e3b04b;*/
}

.service i {
  font-size: 34px;
  margin-bottom: 30px;
}
.service:hover i{
  filter: invert(0.4) sepia(1) hue-rotate(370deg) saturate(10000%);
  transition: 1s;
}

.service h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  color: #303030;
}

.service p {
  color: #9f9f9f;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}


/*----------------------------------*/

.container {
  position: relative;
  width: 60vw;
  height: 70vh;
  margin: auto;
}

/*-----------------------------------*/

.shape-box {
  display: inline-block;
  position: relative;
  z-index: 1;
  max-width: 500px;
  height: 430px;
  overflow: hidden;
  width: 30%;
  padding: 10% 10%;
}

.shape-box_half {
  overflow: hidden;
  text-align: left;
}

.shape-box_half:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewY(53.5deg);
  transform-origin: top left;
  transition: \transform .4s;
  background: #fff;
  z-index: 1;
}

.shape-box>img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.bg-black {
  background-color: #000;
}

.shape-box_half figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px 30px;
  transition: \transform .4s;
  transform: translateY(100%);
  z-index: 3;
}

.shape-box_half figcaption .show-cont {
  position: absolute;
  bottom: calc(100% + 30px);
  left: 30px;
  right: 30px;
  transition: bottom .4s;
}

.card-no {
  font-size: 36px;
  color: #ffc107;
  padding: 0;
  margin: 10px 0;
}

.card-main-title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #292b2c;
}

.card-content {
  color: #9f9f9f;
  margin-top: 20px;
  line-height: 22px;
  font-size: 15px;
}

.shape-box_half>.after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fdd744;
  opacity: 0;
  transition: opacity .4s;
}

/*On hover*/
.shape-box_half:hover:before {
  transform: skewY(20deg);
}

.shape-box_half:hover figcaption {
  transform: translateY(0);
}

.shape-box_half:hover figcaption .show-cont {
  bottom: 100%;
}

.shape-box_half:hover>.after {
  opacity: 1;
}

.contacto {
  background: url(imagenes/office.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
}


.contact-section h1 {
  text-align: center;
  color: #ddd;
}

.border {
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: #2980b9;
}
<<<<<<< Updated upstream


/*------------------------------*/



#ubicanos {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
}

.ubicacion {
  display: flex;
}

.mapa {
  width: 50vw;
  height: 80vh;
  top: 100px;
  background: rgba(255, 255, 255, 0.781);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.ubicaciontext {
  width: 40vw;
  top: 100px;
  background: rgba(255, 255, 255, 0.781);
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  color: #292929;
  padding: 50px;
}
<<<<<<< HEAD


/**/



.containerr {

  max-width: 1000px;

  display: flex;

  margin: 50px 0;

  flex-wrap: wrap;

  justify-content: space-around;

}
.content h2{
  text-transform: uppercase;
}
.box > .content > .card-content {
  color: #9f9f9f;
}
.box {
  position: relative;
  width: 272px;
  height: 227px;
  background: #000;
}


.box .imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}



.box:hover .imgBx img {
  opacity: 0;
}



.box .content {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 0%;
  height: 0%;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 0px;
  box-sizing: border-box;

}



.box:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 30px;
}



.box .content h3 {
  margin:0;
  font-size: 20px;
}



.box .content p {
  margin:10px;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;

}



.box:hover .content p {
  opacity: 1;
  transition-delay: 0.5s;
}


.aboutus {
  background: url(imagenes/bg-image-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
}

.about-us-box{
  width: 100%;
  height: 90vh;
}